
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

@import "./abstracts/_map-amends";

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

// 8. Whole bootstrap

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --bs-body-font-family: 'Rubik', sans-serif;
}

body {
  background-color: hsl(228, 33%, 97%)
}


.tag {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.fw-500 {
  font-weight: 500;
}

.w-90 {
  width: 97%;
}

.avatar {
  width: 2rem;
}

.AddCommentAvatar {
  @media screen and (max-width: 768px) {
    position: absolute;
    bottom: 0;
  }
}

.AddCommentButton {
  @media screen and (max-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 2rem;
  }
}

.CommentButtons {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (max-width: 768px) {
    top: auto;
    bottom: 0;
  }
}

.LikeColumn {
  @media screen and (max-width: 768px) {
    position: absolute;
    bottom: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

.ScoreButtons {
  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
